[submodule "KRapp-server/vendor/drogon"]
	path = KRapp-server/vendor/drogon
	url = https://github.com/drogonframework/drogon.git
[submodule "KRapp-server/vendor/sqlitecpp"]
	path = KRapp-server/vendor/sqlitecpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "KRapp-server/vendor/boost-headers"]
	path = KRapp-server/vendor/boost-headers
	url = https://github.com/jvishnefske/boost-headers.git
