name: Control of compilation
on:
  push:
    branches: [ main ]

jobs:
  build:
    environment: ${{ github.workspace }}/build
    name: ${{ krAPP }}-server
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      # Get CMake
      - name: get-cmake
        uses: lukka/get-cmake@latest
      # Setup vcpkg
      - name: Run vcpkg
        uses: lukka/run-vcpkg@latest
        with:
          setupOnly: true
          vcpkgDirectory: '${{ github.workspace }}/vcpkg'
          appendedCacheKey: ${{ hashFiles( '**/vcpkg.json' ) }}
          vcpkgTriplet: 'x64-windows' # Later change to static
          additionalCachedPaths: ${{ env.buildDir }}/vcpkg_installed
      - name: Run CMake with Ninja, install dependencies with vcpkg, build with CMake
        uses: lukka/run-cmake@latest
        with:
          cmakeListsOrSettingsJson: CMakeListsTxtBasic
          cmakeListsTxtPath: '${{ github.workspace }}/CMakeLists.txt'
          useVcpkgToolchainFile: true
          buildDirectory: ${{ env.buildDir }}
